<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="header">
    <nav class="navbar navbar-expand-md fixed-top" style="background-color: #676ebe">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: whitesmoke">YTBot&#9996;&#9996;&#127911;</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MODERATOR'))" class="nav-link">
                        <a class="nav-link" aria-current="page" href="/servers">Серверы</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link" aria-current="page" href="/videos">Топ воспроизведений</a>
                    </li>
                    <li class="nav-link" sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MODERATOR'))">
                        <a class="nav-link active" style="float: right" th:href="'/users'">Пользователи</a>
                    </li>
                </ul>
                <div sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                    <a class="nav-link active" style="float: right" th:href="'/users/' + ${#authentication.getPrincipal().getUserId()}">Профиль</a>
                </div>
                <form class="d-flex" sec:authorize="!isAuthenticated()">
                    <a href="/login" class="nav-link active" role="button" aria-disabled="true">Войти</a>
                </form>
                <form class="d-flex" sec:authorize="isAuthenticated()">
                    <a href="/logout" class="nav-link active" role="button" aria-disabled="true">Выйти</a>
                </form>

            </div>
        </div>
    </nav>
</div>
