<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Ошибка(((</title>
</head>
<body>
<div layout:fragment="content">
  <h1 class="center">К НАШЕМУ ОГРОМНОМУ СОЖАЛЕНИЮ</h1>
  <p class="center">
    <img  src="https://sun9-66.userapi.com/impg/mpUxuCcS2y9MBM3dviBXZJnV8lFQDlnCdobMTw/_wVVByAsZRE.jpg?size=2000x2000&quality=96&sign=326078094c91dcdee04c801c75654a91&type=album" alt="Картинка собаки в наушниках" width="500" height="500">
  </p>
  <h1 class="mt-1" style="text-align: center">Что-то случилось и все сломалось&#9785;&#9785;&#9785;</h1>
  <p th:if="${message != null}" th:text="${message}"></p>
  <h4  class="center">
    <a class="text-link" aria-current="page" style="text-align: center" href="/">На главную</a>
  </h4>
</div>
</body>
</html>