<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>YTBot</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="center">Добро пожаловать в гости к YTBot!!!</h1>
    <p class="center">
        <img  src="https://sun9-48.userapi.com/impg/GbIYeiSQkjRvzouUGLcTmPPBI7iiLDAP1PGN8Q/zDl42fYu0zU.jpg?size=2000x2000&quality=96&sign=cf3c2bc6780cfe1304943917d27e74da&type=album" alt="Картинка собаки в наушниках" width="500" height="500">
    </p>
    <h2 class="center">Пригласи меня на свой сервер</h2>
    <h4  class="center">
        <a class="text-link" aria-current="page" style="text-align: center"
           th:href="'https://discordapp.com/oauth2/authorize?client_id=1079410738151567501&scope=bot&permissions=8'">https://discordapp.com/oauth2/authorize?client_id=1079410738151567501&scope=bot&permissions=8</a>
    </h4>
</div>

</body>
</html>
